openapi: 3.0.0
info:
  title: edge-fqm API
  version: v1
  description: edge-fqm API

servers:
  - url: https://falcon.ci.folio.org/fqm/

paths:
  /entity-types:
    get:
      operationId: getEntityTypeSummary
      tags:
        - entityTypes
      description: Get names for a list of entity type ids.
      parameters:
        - $ref: '#/components/parameters/entity-type-ids'
        - $ref: '#/components/parameters/include-inaccessible'
        - $ref: '#/components/parameters/include-all'
      responses:
        '200':
          description: 'Entity type summaries'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entityTypeSummaries'
        '400':
          $ref: '#/components/responses/badRequestResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

components:
  parameters:
    entity-type-id:
      name: entity-type-id
      in: path
      required: true
      description: Name of the derived table
      schema:
        type: string
        format: UUID
    entity-type-ids:
      name: ids
      in: query
      required: false
      description: List of entity type ids
      schema:
        type: array
        items:
          type: string
          format: UUID
    include-inaccessible:
      name: includeInaccessible
      in: query
      required: false
      description: Include inaccessible entity types in the result
      schema:
        type: boolean
    include-all:
      name: includeAll
      in: query
      required: false
      description: Include all entity types (including private ones) in the result
      schema:
        type: boolean
  schemas:
    errorResponse:
      $ref: schemas/errors.json
    contents:
      type: array
      items:
        $ref: '#/components/schemas/contentItem'
    contentItem:
      type: object
      additionalProperties:
        type: object
    entityTypeSummaries:
      $ref: schemas/EntityTypeSummaries.json
  responses:
    badRequestResponse:
      description: Validation errors
      content:
        application/json:
          example:
            errors:
              - message: Request is invalid
                code: invalid.request
            total_records: 1
          schema:
            $ref: "#/components/schemas/errorResponse"
    internalServerErrorResponse:
      description: When unhandled exception occurred during code execution, e.g. NullPointerException
      content:
        application/json:
          example:
            errors:
              - message: Unexpected error
                code: unexpected.error
            total_records: 1
          schema:
            $ref: "#/components/schemas/errorResponse"
